<div class="row">
  <div class="col-md-6">
    <h3>Day 1 (Jun 10 - Eastern Time)</h3>
    <table class="table table-striped">
      <tr> <td>12:00</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (Jun 14 - Eastern Time)</h3>
    <table class="table table-striped">
      <tr> <td>12:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>14:00</td>  <td>BREAK</td> </tr>
      <tr> <td>15:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3 (Feb 1 - Eastern Time)</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td>Programming with Python & R #1</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
   <div class="col-md-6">
    <h3>Day 4 (Feb 2 - Eastern Time)</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td>Programming with Python & R #2</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>Day 5 (Feb 3 - Eastern Time)</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td>Programming with Python & R #3</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
     <div class="col-md-6">
    <h3>Day 6 (Feb 4 - Eastern Time)</h3>
    <table class="table table-striped">
      <tr> <td>12:00</td>  <td>Programming with Python & R #4</td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
      <tr> <td>14:00</td>  <td>Office Hour</td> </tr>
      <tr> <td>15:00</td>  <td>Geospatial Raster with Python & R</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
  <div class="col-md-6">
    <h3>Day 2 (Jun 14 - Eastern Time)</h3>
    <table class="table table-striped">
      <tr> <td>12:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>14:00</td>  <td>BREAK</td> </tr>
      <tr> <td>15:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (Jun 14 - Eastern Time)</h3>
    <table class="table table-striped">
      <tr> <td>12:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>14:00</td>  <td>BREAK</td> </tr>
      <tr> <td>15:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (Jun 14 - Eastern Time)</h3>
    <table class="table table-striped">
      <tr> <td>12:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>14:00</td>  <td>BREAK</td> </tr>
      <tr> <td>15:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>

