<div class="row">
  <div class="col-md-6">
    <h3>Day 1 (Jun 10 - EDT)</h3>
    <table class="table table-striped">
      <tr> <td>11:30</td>  <td>Office Hour</td> </tr>
      <tr> <td>12:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell</a> </td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (June 14 - EDT)</h3>
    <table class="table table-striped">
      <tr> <td>14:30</td>  <td>Office Hour</td> </tr>
      <tr> <td>15:00</td>  <td>Programming with <a href="https://swcarpentry.github.io/python-novice-inflammation/">Python</a> & <a href="http://swcarpentry.github.io/r-novice-inflammation//">R</a> #1</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (June 14 - EDT)</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td>Geospatial Programming in R #1</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
   <div class="col-md-6">
    <h3>Day 3 (Jun 15 - EDT)</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td>Programming with <a href="https://swcarpentry.github.io/python-novice-inflammation/">Python</a> & <a href="http://swcarpentry.github.io/r-novice-inflammation//">R</a> #2</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>Day 3 (June 15 - EDT)</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td>Geospatial Programming in R #2</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>Day 4 (Jun 16 - EDT)</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td>Programming with <a href="https://swcarpentry.github.io/python-novice-inflammation/">Python</a> & <a href="http://swcarpentry.github.io/r-novice-inflammation//">R</a> #3</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>Day 4 (June 16 - EDT)</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>Office Hour</td> </tr>
      <tr> <td>15:00</td>  <td> <a href="https://carpentries-incubator.github.io/geospatial-python/">Geospatial Programming in Python</a> #1</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
   </div>
     <div class="col-md-6">
    <h3>Day 5 (June 17 - EDT)</h3>
    <table class="table table-striped">
      <tr> <td>11:15</td>  <td>Office Hour</td> </tr>
      <tr> <td>12:00</td>  <td>Programming with <a href="https://swcarpentry.github.io/python-novice-inflammation/">Python</a> & <a href="http://swcarpentry.github.io/r-novice-inflammation//">R</a> #4</td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
      <tr> <td>15:00</td>  <td>Programming with <a href="https://carpentries-incubator.github.io/geospatial-python/">Python</a> & R #5</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>Day 5 (June 17 - EDT)</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td><a href="https://carpentries-incubator.github.io/geospatial-python/">Geospatial Programming in Python</a> #2</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
    </div>
  <div class="col-md-6">
    <h3>Day 6 (Jun 21 - EDT)</h3>
    <table class="table table-striped">
      <tr> <td>12:30</td>  <td>Office Hour</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://kdottiemo.github.io/git-novice-develop-gitlab/">Version Control with Git</a></td> </tr>
      <tr> <td>14:30</td>  <td>BREAK</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>

